<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/023/986/534/large_2x/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png">
    <title>Crea tu usuario</title>
</head>
<body class="bg-allports-50">
    <nav id="nav" class="fixed top-0 right-0 left-0 h-16 bg-allports-700">
    </nav>

    <div id="main-container" class="h-screen pt-16 flex flex-col items-center justify-center gap-12 md:flex-row">
        <form action="" id="form" class="flex flex-col gap-4 p-4 rounded-lg text-lg bg-allports-200 shadow-lg w-full md:w-9/12 lg:w-2/4">
            <h1 id="title" class="flex justify-center font-semibold text-allports-950">Crea tu usuario EDT</h1>
            <div class="flex flex-col gap-2">
                <label for="name-input" class="font-bold text-allports-950">
                    Nombre y apellido<span class="text-red-500">*</span>
                </label>
                <input type="text" 
                name="name-input" 
                id="name-input" 
                spellcheck="false"
                autocomplete="off" 
                placeholder="Ej: Gabriel Castro" 
                class="rounded-lg p-2 bg-allports-100 outline-none focus:outline-allports-700 duration-75">
                <p class="text-xs text-allports-950">Los nombres deben comenzar con letra mayúscula</p>
            </div>
            <div class="flex flex-col gap-2">
                <label for="email-input" class="font-bold text-allports-800">
                    Correo <span class="text-red-500">*</span>
                </label>
                <input type="email" 
                name="email-input" 
                id="email-input" 
                autocomplete="off" 
                spellcheck="false"
                placeholder="ejemplo@correo.com" 
                class="rounded-lg p-2 bg-allports-100 outline-none duration-75 focus:outline-allports-700">
                <p class="text-xs text-allports-950">El correo es requerido</p>
            </div>
            <div class="flex flex-col gap-2">
                <label for="course-input" class="font-bold text-allports-800">
                    Curso <span class="text-red-500">*</span>
                </label>
                <select name="course-input" id="course-input" class="rounded-lg p-2 bg-allports-100 duration-75 outline-none focus:outline-allports-700">
                    <option value="" selected disabled>Selecciona un curso</option>
                    <option value="0" >Programación FullStack</option>
                    <option value="1" >Diseño Gráfico</option>
                    <option value="2" >Marketing y Redes Sociales</option>
                    <option value="3" >Fotografía</option>
                    <option value="4" >Programación FullStack Online</option>
                    <option value="5" >Marketing y Redes Sociales Online</option>
                    <option value="6" >Robótica</option>
                </select>
            </div>
            <div class="flex flex-col xl:flex-row gap-2 justify-around flex-">
                <div class="flex flex-col w-full">
                    <label for="module-input" class="font-bold text-allports-800">
                        Módulo
                    </label>
                    <select name="module-input" id="module-input" class="rounded-lg p-2 bg-allports-100 outline-none duration-75 focus:outline-allports-700">
                    <option value="" selected disabled>Selecciona tu módulo</option>
                    </select>
                </div>  
                <div class="flex flex-col w-full">
                    <label for="attendance-input" class="font-bold text-allports-800">
                        Asistencia
                    </label>
                    <select name="attendance-input" id="attendance-input" class="rounded-lg p-2 bg-allports-100 outline-none duration-75 focus:outline-allports-700">
                        <option value="" selected disabled>Selecciona tu % de asistencia</option>
                        <option value="10" >10%</option>
                        <option value="20" >20%</option>
                        <option value="30" >30%</option>
                        <option value="40" >40%</option>
                        <option value="50" >50%</option>
                        <option value="60" >60%</option>
                        <option value="70" >70%</option>
                        <option value="80" >80%</option>
                        <option value="90" >90%</option>
                        <option value="100" >100%</option>
                    </select>
                </div>
                <div class="flex flex-col w-full">
                    <label for="date-input" class="font-bold text-allports-800">
                        Mes 
                    </label>
                    <input type="date" max="2024-12-31" min="2023-01-01" name="date-input" id="date-input" class="rounded-lg p-2 bg-allports-100 outline-none duration-75 focus:outline-allports-700">
                </div>
            </div>
            <button class="btn disabled:cursor-not-allowed md:w-2/4 md:mx-auto select-none text-allports-50 bg-gradient-to-r from-allports-400 to-allports-600 rounded-lg p-4 hover:from-allports-500 hover:to-allports-700">Crear</button>
        </form>
    </div>

    <script src="index.js"></script>
    <script src="../components/nav.js"></script>
</body>
</html>