<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/023/986/534/large_2x/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png">
    <title>Login</title>
</head>
<body class="bg-allports-50">
    <nav id="nav" class="fixed top-0 right-0 left-0 h-16 bg-allports-700">
    </nav>

    <script src="index.js"></script>
    <script src="../components/nav.js"></script>
</body>
</html>