<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/023/986/534/large_2x/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png">
    <title>Telegram Asistente Virtual</title>
</head>
<body class="bg-[#effaff]">
    <nav id="nav" class="fixed top-0 right-0 left-0 h-16 bg-[#0073ab]">
    </nav>

    <div id="main-container" class="mt-16 flex flex-col gap-12">
        <div id="img" class="w-10/12 mx-auto pr-12 pt-8">
            <img src="/images/bot.svg" alt="">
        </div>
        <div id="container" class="flex flex-col px-4 gap-4">
            <h2 class="mx-auto text-xl font-bold text-[#04334d]">EDT Telegram Bot</h2>
            <p class="text-[#04334d]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam expedita alias quos unde dolores amet illo eveniet. Esse rerum fuga id cum sint hic, expedita, in illum, repudiandae vitae porro!</p>
            <div class="btn-container mx-auto flex gap-4 text-[#effaff]">
                <a href="/login/" class="select-none bg-gradient-to-r from-[#2ccbff] to-[#0091d4] rounded-lg p-4 hover:from-[#00adec] hover:to-[#0073ab]">Ingresa ahora</a>
                <a href="https://t.me/edtecnicabot" class=" select-none border-[#0073ab] border text-[#0073ab] rounded-lg p-4 hover:bg-[#def3ff]" target="_blank" rel="noopener noreferrer">Ir al bot</a>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
    <script src="../components/nav.js"></script>
</body>
</html>