<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300;700&family=Montserrat:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/023/986/534/large_2x/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png">
    <title>Telegram Asistente Virtual</title>
</head>
<body class="bg-allports-50 font">
    <nav id="nav" class="fixed top-0 right-0 left-0 h-16 bg-allports-700">
    </nav>

    <div id="main-container" class="min-h-screen pt-16 max-w-7xl mx-auto flex flex-col items-center justify-center gap-12 md:flex-row">
        <div id="img" class="w-10/12 mx-auto pr-12 pt-8 md:p-0 md:w-full">
            <img src="/images/bot.svg" alt="" class="md:w-full">
        </div>
        <div id="container" class="flex flex-col p-4 gap-4 md:w-full ">
            <h2 class="mx-auto text-xl font-bold text-allports-950">EDT Telegram Bot</h2>
            <p class="text-allports-950 text-justify">¡Bienvenido a la página web administrativa del bot <span class="font-semibold">@edtecnica</span> en Telegram! Aquí podrás crear tu usuario como estudiante del campus y disfrutar de todas las funcionalidades que ofrece nuestro bot. Con tan solo un click podrás visualizar tus notas, estadísticas generales, próxima fecha de pago, pagos de módulos y mucho más.
                Nuestro Asistente Virtual EDT ahora está disponible en Telegram, brindándote una alternativa interactiva y fácil de usar para acceder a toda la información que necesitas como estudiante.</p>
            <div class="btn-container mx-auto flex gap-4 text-allports-50 mt-4">
                <a href="/create/" class="btn select-none bg-gradient-to-r from-allports-400 to-allports-600 rounded-lg p-4 hover:from-allports-500 hover:to-allports-700">Crear usuario</a>
                <a href="https://t.me/edtecnicabot" class="btn select-none border-allports-700 border text-allports-700 rounded-lg p-4 hover:bg-allports-100" target="_blank" rel="noopener noreferrer">Ir al bot</a>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
    <script src="../components/nav.js"></script>
</body>
</html>