<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/023/986/534/large_2x/telegram-logo-telegram-logo-transparent-telegram-icon-transparent-free-free-png.png">
    <title>Telegram Asistente Virtual</title>
</head>
<body class="bg-allports-50">
    <nav id="nav" class="fixed top-0 right-0 left-0 h-16 bg-allports-700">
    </nav>

    <div id="main-container" class="h-screen pt-16 flex flex-col items-center justify-center gap-12 md:flex-row">
        <div id="img" class="w-10/12 mx-auto pr-12 pt-8 md:p-0 md:w-full">
            <img src="/images/bot.svg" alt="" class="md:w-full">
        </div>
        <div id="container" class="flex flex-col px-4 gap-4 md:w-full ">
            <h2 class="mx-auto text-xl font-bold text-allports-950">EDT Telegram Bot</h2>
            <p class="text-allports-950">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At aut nihil dolorum id quam eum ea vitae cum expedita, temporibus nostrum veniam dicta perspiciatis totam nesciunt error odio ab rem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam expedita alias quos unde dolores amet illo eveniet. Esse rerum fuga id cum sint hic, expedita, in illum, repudiandae vitae porro!</p>
            <div class="btn-container mx-auto flex gap-4 text-allports-50">
                <a href="/create/" class="btn select-none bg-gradient-to-r from-allports-400 to-allports-600 rounded-lg p-4 hover:from-allports-500 hover:to-allports-700">Crear usuario</a>
                <a href="https://t.me/edtecnicabot" class="btn select-none border-allports-700 border text-allports-700 rounded-lg p-4 hover:bg-allports-100" target="_blank" rel="noopener noreferrer">Ir al bot</a>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
    <script src="../components/nav.js"></script>
</body>
</html>